@use "sass:color";

// Cores
$color-primary: #000000 !default;
$color-secondary: #ffffff !default;

// Tipografia
$font-family-base: 'Inter', sans-serif !default;
$font-size-base: 1rem !default;

// Espaçamentos
$space-xs: 0.25rem !default;
$space-sm: 0.5rem !default;
$space-md: 1rem !default;
$space-lg: 2rem !default;
$space-xl: 4rem !default;


$slider-height: 300px;
$spinner-size: 40px;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 600px;

$color-bg: $color-primary;
$color-text: #eeeeee;
$color-accent: #777777;
$color-hover: color.scale($color-accent, $lightness: -10%);
$spacing-md: 1rem;
$spacing-lg: 2rem;
$transition-fast: 0.2s ease-in-out;
$navbar-height: 60px;