@use '../abstracts/index' as *;

html {
    background-color: $color-bg;
    color: white;
}

body {
    padding: 0 40px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;

    a:link {}

    a:visited {}

    a:hover {}

    a:active {}
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}