@use '../abstracts/index' as *;

html {
    background-color: gray;
    color: white;
}

body {
    background-color: $color-bg;
}

a {
    text-decoration: none;

    a:link {}

    a:visited {}

    a:hover {}

    a:active {}
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}